{% extends "base.html" %} {% block title %} exploits.forsale {% endblock title
%} {% block body_class %}alt bg{% endblock body_class %} {% block content %}

<header>
    <nav><img src="/logo.svg" class="logo"/></nav>
</header>

<section class="links">
    {% set section = get_section(path="_index.md") %} {% for page in
    section.pages %}
    <a href="{{page.path}}">
        <div>
            <h3>{{page.title}} ›<h3>
            <date>{{page.date}}</date>
        </div>
    </a>
    {% endfor %}
</section>

<br>
<h3 style="width: 100%; text-align: center; color: white;"><em>Leaders in Cyber Lethality</em></h3>
<br>

<a class="alert" href="/responsibility">
    <footer>
        Annual Transparency & Responsibility Report – Read The Report That Highlights The Safeguards Against Misuse of Our Technology, And Outlines Internal Governance and Compliance Processes
    </footer>
</a>

<br><br><br><br><br><br><br>
{% endblock content %}
